/* primary section  */

* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Merriweather', serif;
    ;
    margin-top: 50px;
}

.container {
    width: 75%;
    max-width: 1320px;
    margin: 0 auto;
}

/* primary section  */

/* Start Header Section  */

.bannar-section {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Bannerimage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    padding: 160px 0;
}

.bannar-section * {
    max-width: 474px;
    margin: 0 auto;
}

.bannar-p {
    color: #FFF;
    font-size: 24px;
    text-align: center;
}

.bannar-h2 {
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-weight: 900;
    line-height: 95px;
}


/* end Header Section  */

/* Start Section  */

#new-year-section {
    padding: 100px 0;
}

.new-year-text {
    text-align: center;
}

.new-year-text h1 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 66px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-text p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.new-year-text h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-img img {
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* end section  */

/* Start Welcome Section  */

#welcome-section {
    margin-bottom: 100px;
}

.welcome-section {
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
}

.welcome-text {
    max-width: 495px;
}

.welcome-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: #F00;
    color: #fff;
}

.welcome-img {
    padding: 50px 0;
}


/* Start Welcome Section  */

/* Another Section  */


.time-text p {
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    line-height: 56px;
    font-weight: 700;
}

.time-text {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 70px 0;
    margin-bottom: 100px;
}

.btn {
    margin-top: 48px;
}

.red {
    color: #F00;
}

/* Another Section  */

/* Comeing Soon section  */

.comeing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.comeing-text {
    max-width: 295px;
}

.comeing-year {
    max-width: 207px;
    margin-top: 25px;
}

.new-best {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.comeing-img {
    border-radius: 463px;
    border: 15px solid #F00;
}

.comeing-img img {
    padding: 23px;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.sit {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.sit-img {
    width: 143px;
    height: 143px;
}

/* Comeing Soon section  */

/* Holiday Section  */
#holiday-section {
    margin-top: 80px;
}

.holiday-text {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.holi1 {
    color: #070211;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.holi2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holi-color {
    color: #F00;
}

.holi-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.holi-photo-section {
    display: flex;
}


/* Holiday Section  */

/* Start Portfolio Section  */

#portfolio {
    margin-top: 100px;
}

.portfolio-text-section .the-best {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.our {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 22px;
}

.amet {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
    margin-bottom: 20px;
}

.port-photos {
    display: flex;
    width: 1320px;
}

.port-photo img {
    width: 70%;
    margin-bottom: 10px;
}

#portfolio-secton2 {
    margin-bottom: 100px;
}
/* Start Portfolio Section  */

/* Subscribe Section  */

#subscribe {
    margin-top: 100px;
    margin-bottom: 100px;
}

.subscribe {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}

.sub-img {
    margin-bottom: 40px;
}

.sub {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.conse {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    max-width: 652px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.subscribe input {
    width: 486px;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.button-btn {
    margin-left: 0;
}

.real-footer {
    background-color: #070211;
    ;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 2px solid #ffffff26;
}

/* Subscribe Section  */

/* Stat Footer Section  */

.ffooter {
    padding: 50px 0;
}

.last {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    line-height: 40px;
}

.icon-photos {
    display: flex;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 2px solid #ffffff26;
    align-items: center;
    justify-content: center;
}

.icon-photos .i-p img {
    margin: 0 auto;
}

.last-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 0;
}

.left p {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
}

.right p {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
}

footer {
    padding: 70px 0;
}

/* end Footer Section  */